.vdark-blue{
    color: #113F67;
}

.dark-blue{
    color: #226597;
}
.light-blue{
    color: #87C0CD;
}
.file {
    visibility: hidden;
    /* visibility: visible; */
    position: absolute;
}
.img-thumnail-tong {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, span {
    font-family: Roboto;
}

@media only screen and (min-width: 576px) {
  .toRside {
    padding-left: 0rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .toRside {
    padding-left: 0rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .toRside {
    padding-left: 22rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .toRside {
    padding-left: 33.8rem !important;
  }
}
